@import "tailwindcss";

@theme {
  --color-primary: #0D5C63;
  --color-secondary: #78A083;
  --color-accent: #E88D67;
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  scroll-behavior: smooth;
  background-color: #f9fafb;
}
